.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  }

.pixel {
  border: 1px groove rgb(201, 167, 167);
}

.uncolored {
  background-color: rgb(255, 212, 212);
}

.colored {
  background-color: black;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.button {
  display: flex;
  height: 30px;
  width: 100px;
  flex-wrap: wrap; /* these buttons are bad! */
  padding: 30px;
  text-align: center;
}